:root {
  --bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(240, 6%, 21%);

  --color-img-card: hsl(240, 6%, 21%);
  --color-bg-card: hsl(240, 9%, 89%);

  --color-bg-card-sel: hsl(194, 97%, 31%);
  --color-img-card-sel: hsl(0, 0%, 100%);

  --white: hsla(0, 0%, 100%, 0.8);
  --black: hsla(240, 6%, 21%, 0.9);

  --ff-text: 'Roboto', sans-serif;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: var(--ff-text);
  font-weight: 500;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin-left: 20rem;
  margin-right: 20rem;
  gap: 10rem;
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

header {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

input {
  position: absolute;
  align-self: center;
  margin-top: 118px;

  -webkit-appearance: none;
  border-radius: 999px;
  cursor: pointer;
  width: 90px;
}

input::-webkit-slider-runnable-track {
  height: 4px;
  cursor: pointer;
  background: var(--black);
  border-radius: 999px;
}

input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 90px;
  background: var(--black);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover input::-webkit-slider-thumb,
.card:hover input::-webkit-slider-runnable-track {
  background: var(--white);
}

#controls button svg {
  width: clamp(1.4rem, 2.4rem + 12vw, 4.8rem);
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12.6rem;
}

#controls {
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

#cards {
  width: 32rem;
  height: 33.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.bgcard-forrest,
.bgcard-rain,
.bgcard-coffee,
.bgcard-fireplace {
  fill: var(--color-bg-card);
}

.bgimage-forrest,
.bgimage-rain,
.bgimage-coffee,
.bgimage-fireplace {
  fill: var(--color-img-card);
}

.bg-select {
  fill: var(--color-bg-card-sel);
}

.img-select {
  fill: var(--color-img-card-sel);
}

.hide {
  display: none;
}

.darken {
  background-color: #000;
  color: var(--white);
  fill: var(--white);
}

@media (max-width: 1252px) {
  main {
    display: block;
    width: 32rem;
    height: 33.6rem;
    align-items: center;
    justify-content: space-evenly;
  }

  #soundSelector {
    margin-top: 2rem;
  }

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -7rem;
  }

  #timer {
    font-size: 11.6rem;
  }
}
